# CODEOWNERS are automatically added as reviewers for pull requests that change the defined files
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Add team/user ownership rules here.
